:root
{
    --cor-primaria: rgb(7, 43, 150);
}

*
{
    box-sizing: content-box;
    margin: 0;
    outline: 0;
}
body
{
    background-color: var(--cor-primaria);
}
.container
{
    background-color: #fff;
    max-width: 640px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}
.container h1, input, p
{
    margin: 15px 0px;
    width: 100%;
    display: block;
}
.container h1
{
    font-size: 2.0rem;
}
.container p
{
    font-size: 1.3rem;
}
form input
{
    font-size: 24px;
    height: 30px;
}

form input:focus
{
    outline: 1px solid var(--cor-primaria);
}
.button
{
    width: 100%;
    height: 50px;
    margin: 0px auto;
    border: solid 0.5px rgb(0, 0, 0);
    border-radius: 3px;
    background-color: var(--cor-primaria);
    color: #fff;
}
.info
{
    display: flex;
    width: 75%;
    margin: 0 auto;
}
.valido
{
    background-color: rgb(19, 187, 7);
    padding: 10px 20px;
    max-width: 96%;
}
.invalido
{
    background-color: rgb(187, 7, 7);
    padding: 10px 20px;
    max-width: 96%;
}